@import "../../styles/main.scss";
@mixin common() {
  border: 1px solid white;
  margin: 3rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.userCard {
  @include common();

  display: grid;
  place-items: center;
  .image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 0.4rem solid $theme;
    margin-top: -5rem;
    background-color: #fff;
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }
  .userName {
    padding-top: 2rem;
    color: $theme;
    padding: 2rem 2rem 0rem 2rem;
    font-weight: bold;
    h1 {
      margin: 1rem;
    }
  }
  .iconContainer {
    @include flex();
    flex: 1;
    margin-top: 2rem;
    background-color: $theme;
    padding: 0.2rem 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    div {
      text-decoration: none;
      color: black;
    }
    justify-content: space-between;
    .icon {
      height: 4rem;
      width: 4rem;
      background-color: white;
      border-radius: 50%;
      margin: 0.5rem;
      @include flex();
      justify-content: center;

      span {
        margin-top: 0.3rem;
        font-size: 3rem;
      }
    }
  }
}

.reposCard {
  @include common();
  margin: 1rem;
  padding: 1rem;
  width: 60vw;
  overflow: hidden;
  color: $theme;

  @include small() {
    width: 90vw;
  }
  .name {
    @include flex();
    justify-content: flex-start;
    a {
      text-decoration: none;
      color: $theme;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      padding-right: 1rem;
      font-size: 3rem;
    }
    h1 {
      width: "100%";
      word-wrap: break-word !important;
    }
  }
  .desc {
    text-align: left;
    padding-left: 4rem;
    font-size: 1.3rem;
  }
  .bottomContainer {
    @include flex();
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
    p {
      font-size: 1.1rem;
    }
    span {
      margin-top: 0.5rem;
      padding-right: 1rem;
      font-size: 2rem;
      color: $theme;
    }
    .stars,
    .language {
      @include flex();
      align-items: center;
    }
    .language {
      p {
        padding-left: 1rem;
      }
    }
  }
}

.followerCard {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  margin-right: 0.6rem;
  width: 18rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  @include flex();

  border: 1px solid $borderColor;
  img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
  }
  h2 {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
  }
}
