@import "../../styles/main.scss";

.repoDetails {
  font-size: 1.6rem;
  @include e(loader) {
    display: grid;
    place-items: center;
  }
  @include e(main) {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: $theme;
    border: 1px solid $theme;
    .name {
      display: flex;
      align-items: center;
      span {
        font-size: 1.6rem;
        padding-right: 1rem;
      }
      a {
        color: $theme;
      }
    }
    @include m(part) {
      .abouts > h1 {
        font-size: 1.5rem;
        text-decoration: underline;
        padding: 1rem 0rem;
      }
      p {
        font-size: 1.3rem;
      }

      .iconWithText {
        display: flex;
        margin-top: 0.5rem;
        align-items: center;
        span {
          font-size: 1.5rem;
          padding-right: 1rem;
        }
        a {
          text-decoration: none;
          color: $theme;
        }
      }
    }
  }
  .readmeHeading {
    font-size: 1.5rem;
    text-decoration: underline;

    padding-top: 0.5rem;
    margin: 0rem 1rem;
    padding-left: 2rem;
    border-top: 1px solid $theme;
    border-left: 1px solid $theme;
    border-right: 1px solid $theme;
    background-color: rgba(0, 0, 0, 0.5);
    color: $theme !important;
  }
  .readme {
    border-bottom: 1px solid $theme;
    border-left: 1px solid $theme;
    border-right: 1px solid $theme;
    margin: 0rem 1rem;
    background-color: #0d1117;

    overflow-x: hidden;
    *,
    *::after,
    *::before {
      padding: 0.5rem;
      margin: 0.5rem;
    }

    h2,
    p,
    li,
    span,
    pre {
      color: white;
    }
    a {
      color: #1f6feb;
    }
  }
}
