@import "../../styles/main.scss";

@mixin selectBox() {
  span {
    margin-right: 1rem;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
  }
  @include small {
    margin-top: 2rem;
  }
  @include tablet {
    margin-top: 2rem;
  }
}
.homescreen {
  height: 100%;
  width: 100%;
  text-align: center;

  @include e(sidebar) {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    place-items: center;

    @include m(main) {
      @include tablet {
        width: 95vw;
      }
      @include small {
        justify-content: center;
        width: 95vw;
      }
      overflow: hidden;
      .sub {
        color: white;
        background-color: #fff;
        padding: 0.7rem 0rem;
        padding-left: 5rem;
        border-bottom: 1px solid $borderLightColor;
        background-color: rgba(0, 0, 0, 0.5);
        @include flex();
        @include small {
          justify-content: center;
          width: 95vw;
          flex-direction: column;
          transition: all 0.3s;
          transform: scale(0);
          position: absolute;
        }

        &.active {
          @include small {
            position: relative;
            z-index: 11111;
            transform: scale(1);
            background-color: $dark-theme;
            top: 0rem;
            flex-direction: column;
          }
        }

        flex-wrap: wrap;
        overflow: scroll;
        @include small {
          justify-content: center;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    @include m(sub1) {
      @include flex();
      div {
        padding: 0.7rem 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0rem 1rem;

        @include tablet {
          margin-top: 3rem;
        }
      }
      div:hover {
        border-radius: 1.8rem;
        border-radius: 1.8rem;
        background-color: $theme;
      }
      div.active {
        border-radius: 1.8rem;
        border-radius: 1.8rem;
        background-color: $orange;
      }
    }
    @include m(sub2) {
      @include selectBox();

      select {
        outline: none;
        border: none;
        padding: 1rem;
        width: 20rem;
        font-size: 1.5rem;
        background-color: $theme;
      }
    }
    @include m(sub3) {
      margin-left: 1rem;
      @include selectBox();
      select {
        outline: none;
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        background-color: $theme;
      }
    }

    .filter {
      padding: 1rem;
      justify-self: flex-end;
    }
  }
  @include e(cards) {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    .users {
      width: 75vw;
      margin-top: 5rem;
      @include flex();
      flex-wrap: wrap;
      @include small() {
        width: 90vw;
      }
      @include tablet() {
        width: 90vw;
      }
    }
    .repos {
      width: 100%;
      display: grid;
      place-items: center;
    }
  }
}
