@import "variables";

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin hover {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $xl) {
    @content;
  }
}

@mixin font($family, $weight, $size) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}
@mixin fontLarge() {
  font-size: 5rem;
}
@mixin fontMedium() {
  font-size: 3.6rem;
}
@mixin fontSmall() {
  font-size: 2rem;
}
@mixin flex($direction: row, $alignItems: center, $jusityContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jusityContent;
  align-items: $alignItems;
}

//component mixin
@mixin buttonContainer() {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
