$colors: (
  primary-blue: #22a5ff,
  tertiary-grey: #f8f8f8,
  primary-white: #ffffff,
);

@function color($color) {
  @return map_get($colors, $color);
}
$font-sizes: (
  "font-size-small": calc(1rem + 0.2vw),
  "font-size-regular": calc(1.1rem + 0.3vw),
  "font-size-medium": calc(1.2rem + 1vw),
  "font-size-large": calc(1.5rem + 2vw),
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

//screen size
$sm: 576px;
$md: 768px;
$lg: 992px;

$xl: 1080px;

//color
$theme: #ebba34;
$dark-theme: #202020;
$blue: #0059bb;
$backgroundColor: #f5f5f5;
$orange: #ed9e3c;
$errorData: #f51414;
$borderLightColor: #eaecef;
$borderDarkColor: #9d9d9d;
$lightGrey: #dcd8d8;
$bgColor: #f7f8fa;
$grey: #bfbdbd;
$fontGrey: #707070;
$textGrey: #979797;
$colorWhite: #ffffff;
$darkGrey: #695959;
$borderColor: #d1cfd1;
$bgGrey: #efefef;
$lightBgBlue: #c3e3ff;

//component
$sidebarOpen: 25rem;
$sidebarClose: 10rem;
