@import "../../styles/main.scss";

.paginationContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  margin: 2rem 0rem;
  width: 65vw;
  @include tablet() {
    width: 100%;
  }
  height: 5rem;
  border: 1px solid $theme;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: $theme;

  .page-item a {
    border-radius: 7px;
    padding: 1rem 1rem;
    border: gray 1px;
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 600;
  }
  .page-item.previous a,
  .page-item.next a,
  .page-item.break a {
    border-color: transparent;
  }
  .page-item.active a {
    background-color: rgba(0, 0, 0.7, 0.8);
    border-color: transparent;
    color: $theme;
    font-weight: 800;
    min-width: 32px;
  }
  .page-item.disabled a {
    color: grey;
  }
  .page-item.disable,
  .page-item.disabled a {
    cursor: default;
  }
}
