@import "../../styles/main.scss";
.header {
  padding: 1rem;

  height: 100%;
  padding: 1rem 2rem;
  @include flex();
  justify-content: space-between;
  flex-wrap: wrap;

  @include e(sub1) {
    @include flex();
    @include small {
      width: 100%;
    }
    justify-content: space-between;
    .icon {
      display: none;
      font-size: 3rem;
      color: white;

      @include small {
        display: block;
      }
    }
  }
  @include e(logo) {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    &:hover {
    }
    span {
      color: $theme;
    }
    @include small() {
      text-align: center;
      flex: 1;
      width: 100%;
    }
    @include tablet() {
      text-align: center;
      flex: 1;
      width: 100%;
    }
  }

  @include e(search) {
    border: 1px solid white;
    background-color: #fff;
    border-radius: 1rem;
    @include flex();
    flex: 0.6;
    @include small() {
      margin-top: 1rem;
      flex: 1;
      width: 100%;
    }
    @include tablet() {
      margin-top: 1rem;
      flex: 2;
      width: 100%;
    }
  }
  @include e(input) {
    border: none;
    border-radius: 1rem;
    flex: 1;
    outline: none;
    padding: 0.6rem;
    padding-left: 1rem;
    height: 4rem;
  }
  @include e(searchBtn) {
    outline: none;
    border: none;
    color: white;
    border-radius: 1rem;
    background-color: $theme;
    padding: 1rem;
    font-size: 1.8rem;
    transition: all 0.1s;
    @include buttonContainer();
  }
}
