@import "../../styles/main.scss";

.userDetails {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  .userDetails::-webkit-scrollbar {
    display: none !important;
  }

  @include flex();
  justify-content: space-between;
  align-items: flex-start;
  color: $theme;
  flex-wrap: wrap;
  @include e(left) {
    width: 30vw;
    @include m(main) {
      display: grid;
      place-items: center;
      margin-bottom: 2rem;
    }
    @include small() {
      width: 100%;
    }
    h1 {
      font-size: 2.3rem;
    }
  }
  @include e(loading) {
    display: grid;
    place-items: center;
  }
  @include e(image) {
    border-radius: 100%;
    width: 70%;

    @include small() {
      width: 50%;
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }
  @include e(detail) {
    margin-top: 1rem;
    width: 70%;
    h2 {
      padding: 1rem 0rem;
    }
    @include small() {
      width: 90%;
    }
    @include m(icons) {
      margin-top: 2rem;
      @include flex();
      flex-direction: column;
      align-items: flex-start;
      a {
        text-decoration: none;
        color: $theme;
      }
      .icon {
        @include flex();
      }
      span {
        color: $theme;
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        padding: 0rem 0.5rem;
      }
    }
  }
  @include e(followers) {
    @include flex();
    flex-wrap: wrap;
  }
  @include e(right) {
    width: 66vw;

    @include small() {
      width: 100vw;
    }
    @include m(main) {
      text-align: center;
      display: grid;
      place-items: center;
      @include tablet() {
      }
      @include small() {
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @include m(control) {
      @include flex();
      border-bottom: 1px solid $borderColor;
      margin-bottom: 4rem;
      justify-content: flex-start;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
        padding: 1rem;
      }
      h1.followers {
        border-top: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
      }
      h1.repos {
        border-top: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
    }
  }
  .followers {
    @include flex();
    flex-wrap: wrap;
  }
}
