*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  user-select: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scrollbar-width: thin;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  background: url(./resources/globalImages/bg.png) no-repeat center center fixed;
  background-size: cover;
}
a {
  text-decoration: none;
}
.toastContainer {
  z-index: 11111111111 !important;
}
