@import "../../styles/main.scss";

.loader {
  margin-top: 1rem;
}
.bubble {
  animation: expand 0.75s ease-in-out infinite;
  border-radius: 2rem;
  display: inline-block;
  transform-origin: center center;
  margin: 0rem 1rem;
  width: 2rem;
  height: 2rem;
  &:nth-child(1) {
    background: white;
  }
  &:nth-child(2) {
    animation-delay: 180ms;
    background: $theme;
  }

  &:nth-child(3) {
    animation-delay: 360ms;
    background: $errorData;
  }

  &:nth-child(4) {
    animation-delay: 540ms;
    background: $blue;
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}
